.header__menu-hamburger {
  width: 24px;
  height: 24px;
  background-image: url("../assets/images/Menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.container__botao:checked~.container__label > .header__menu-hamburger {
  background-image: url("../assets/images/Frame\ 20.svg");
}

.container__botao:checked~.container__label {
  background: var(--gradient-blue);
  padding: 7px;
}

.cabecalho {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.container__image {
  padding: 1em;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}

.container__botao:checked ~ .lista-menu {
  display: block;
}

.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--white);
}

.lista-menu__titulo {
  color: var(--orange);
  font-weight: 700;
}

.lista-menu__link {
  background: var(--gradient-blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  /* text-decoration: none; */
}

.container__text {
  display: none;
}

.container__botao {
  display: none;
}

.container__title {
  display: none;
}

.options {
  display: none;
}

@media screen and (min-width:1024px){

  .container__title, .container__title-bold {
    font-family: var(--secondary-font);
    font-size: 30px;
  }

  .container__title {
    font-weight: 400;
    display: block;
  }

  .container__title-bold {
    font-weight: 700;
  }
  
  .options {
    display: flex;
  }

  .options__item {
    padding: 0 1em;
    text-transform: uppercase;
  }
  
  .options__link{
    text-decoration: none;
    color: var(--black);
  }
  
  .container__image-transparent {
    display: none;
  }

  .header__menu-hamburger {
    display: none;
  }

  .options__button:checked~.lista-menu {
    display: block;
    width: auto;
  }
  
  .options__button {
    display: none;
  }
  
    .options__button:checked~.options__label>.options__item {
      background: var(--gradient-blue);
      color: var(--white);
  }
  
  .options__item {
    padding: 2em 1em;
  }
  
  .lista-menu__item:hover {
    background: var(--gradient-blue);
  }

  .lista-menu__item:hover>.lista-menu__link {
    -webkit-text-fill-color: var(--white);
    text-decoration: none;
}

.lista-menu__link {
  text-decoration: none;
}

}

@media screen and (min-width:1728px){
  .container__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
  }

  .cabecalho {
    padding: 0 2em;
}

  .options {
    margin-right: auto;
  }

  .container__text {
    display: block;
  }
}